body {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    background-color:aliceblue;
    margin: 10px;
    text-align: justify;
    justify-content: space-between 10px;
}
h1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 300%;
    margin: 10px;
};

#startWrap {
    display: flex;
    align-items: center;
};

#section2 {
    display:flex;
    justify-content: center;
    color: black;
    font-size: 300%;
}

table {
    border:1px solid black;
    font-size: 20px;
  };

tr {
    border:1px solid black;
    margin: 1px;
  };

td {
    border:1px solid black;
    margin: 1px;
  };

input {
    margin-top: 30px;
    margin-bottom: 10px;
}

li {
    list-style: none;
}